@import "./_vars.less";
@import "./_classes.less";

body {
    .flex;
    .column;
    flex: 1 1;
    .win98;
    overflow: hidden;
    .zpm;
}

header {
    .flex;
    .column;
    align-items: center;
    margin-bottom: 20px;

    * {
        .zpm;
    }
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 4px 8px;

    a {
        text-decoration: none;
        color: black;
    }
}