@import "./_vars.less";
@import "./_classes.less";
@import "./_global.less";
@import "./_medias.less";

main {
    .flex;
    .row;

    aside {

        nav {
            .flex;
            .column;

            >* {
                font-variant: small-caps;
            }

            >nav {
                width: 10em;
            }

            a {
                padding: 4px 8px;
                .no-deco;
            }

            .title {
                font-size: 1.1em;
            }

            nav#projects {

                ul {
                    margin: 0px;
                    padding: 0px;
                    text-indent: 1em;

                    li {
                        margin: 0px;
                        padding: 0px;
                        text-indent: 1.5em;

                        a:hover {
                            color: black;
                            transition: 2s;
                        }
                    }
                }

                ul,
                ul>li {
                    list-style: none;
                }
            }
        }


    }

    article {
        .flex;
        .column;
        margin-left: 50px;

        .card-box {
            .flex;
            .row;
            flex-wrap: wrap;
        }

        .card {
            .flex;
            .column;
            align-items: center;
            border: 1px solid white;
            border-radius: 25px;
            padding: 10px;
            margin: 10px;

            a {
                .flex;
                .column;
                .no-deco;
                align-items: center;
                text-align: center;

                .thumbnail {
                    width: 50px;
                }


            }

            h2 {
                text-align: center;
                .zpm;
            }
        }
    }
}